.section {
    background-color: var(--accent-lime);
    padding: 2rem 0;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.track {
    display: flex;
    gap: 4rem;
    animation: scroll 20s linear infinite;
}

.text {
    font-size: 4rem;
    font-weight: 800;
    color: var(--primary-blue);
    display: flex;
    align-items: center;
    gap: 1rem;
    text-transform: uppercase;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}